body{
    margin: 0;
     background-color: #ebecf0; 
}

.container{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: wrap;
align-content: flex-start;
width: 850px;
margin: auto;
}

.block-left{
    width: 40%;
    background-color: #2d2d2d;
}
.block-right{
    width: 60%;
    background-color: #fff;
}
.one{
    height: 340px;
}
img{
    width: 100%;
}
hr{
    border: none;
    background-color: #000;
    color: #000;
    height: 1px;
    margin-top: 42px;
}

.two{
height: 340px;
}

.name{
    display: block;
    width: 100%;
    margin-top: 2%;
    color: #404041;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font:normal 12px 'Poppins', sans-serif;
}

.name-contact{
width: 80%;
display: inline-block;
margin-top: 7%;
margin-left: 9%;
}
.name-contact a{
    color: #404041;
}

.name span{
    display: inline-block;
    width: 50%;   
}

.phone{
    text-align: right;
    float: right;
}

.name-sl{
    margin:11% 8% 0;
    font:bold 60px 'Poppins', sans-serif;
    line-height: 70px;
}

.name-job{
    margin:0 8% 0;
    font:100 24px 'Poppins', sans-serif;
}

.three{
    width: 40%;
}

.education{
    margin: 9% 12%;
}

h3{
    margin-bottom: 0%;
    color: #01b0ca;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font:bold 24px 'Poppins', sans-serif;
}

h4{
    margin-bottom: 0%;
    margin-top: 3%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1pt;
    font:bold 14px 'Poppins', sans-serif;
}

p,li{
    margin-top: 2%;
    color: #fff;
    font: normal 14px 'Mukta', sans-serif;
}

.education a{
    color: #fff;
    font: normal 14px 'Mukta', sans-serif;
}
.education p:last-child{
    /* margin-top: 49.5%; */
    padding-top: 45%;
    text-transform: none;
}
.four{
    background-color: #FFF;
}

.info{
margin-bottom: 5%;
}
.info h3{
    margin:6% 8% 3%; 
}

.info p{   
    margin:2% 8% 0; 
    color: #444;
}

.info span{
    font:normal 14px 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #444;
    margin:0 8% 0;
}

.info hr{
    margin:3% 8%;
    border: none;
    background-color: #444;
    color: #444;
    height: 1px;
}

.info h4{
    font:bold 16px 'Poppins', sans-serif;
    margin:0 8% 0;
    color: #444; 
}

.info li{
    margin:2% 8% 0; 
    color: #444;
}

#space{
    display: block;
    margin-top: 40px;
}

